#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .tool-control {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.controls textarea {
  font-size: x-large;
}

.controls menu {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;

  button {
    width: 100%;
    background-color: #121212;
    color: #eaeaea;
    border: unset;
    border-radius: unset;

    &:focus {
      outline: none;
    }

    &.active, &.active:hover {
      color: #363636;
      background-color: #eaeaea;
    }

    &:hover {
      background-color: #363636;
    }
  }
}