#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  h1 {
    flex: 1 1 100%;
  }

  .list-text  {
    display: flex;
    flex: 1 1 25%;
    flex-direction: row;
  }
}

.list-text .checkbox-list {
  display: flex;
  flex: 1;
  list-style-position: inside;
  text-align: left;
}

.list-text textarea {
  flex: 3;
  font-size: x-large;
}

.card {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}

.card-child {
  margin: 4px;
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.x-axis {
  accent-color: red;
}

.y-axis {
  accent-color: green;
}

.z-axis {
  accent-color: blue;
}